repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: check-yaml
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: shellcheck
        name: shellcheck
        entry: shellcheck -e SC2164 -e SC2001 -e SC2012 -e SC2317
        language: system
        types: [shell]
  - repo: local
    hooks:
      - id: go-mod-tidy
        name: go mod tidy
        entry: bash -c 'cd core && go mod tidy'
        language: system
        files: ^core/.*\.(go|mod|sum)$
        pass_filenames: false
